* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.button {
  border: 1px solid #666;
  padding: 5px;
  text-align: center;
  display: grid;
  align-content: center;
  font-size: 6vh;
  box-shadow: inset 0px 0px 40px #ccc;
  background-color: #fff;
  cursor: pointer;
}

.App {
  margin: 10px auto;
  border: 30px solid #444;
  border-radius: 15px;
  width: 85vw;
  max-width: 900px;
  min-width: 300px;
  height: 95vh;
  max-height: 85vw;
  box-shadow: 15px 15px 5px 0px #888;
  overflow: hidden;

  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: 25% 15% auto;

  position: relative;

  .history-wrapper {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 65%;
    transition: all 0.4s ease-out;
    transform: translateX(0);

    &.closed {
      transform: translateX(-100%);

      .toggle {

        .arrow {

          span:nth-child(1) {
            transform: rotate(-45deg);
          }

          span:nth-child(2) {
            transform: rotate(45deg);
          }

          span:nth-child(4) {
            transform: rotate(0deg);
          }

          span:nth-child(5) {
            transform: rotate(0deg);
          }

        }

      }

    }

    .toggle {
      width: 30px;
      height: 30px;
      background-color: #000;
      opacity: 0.85;
      position: absolute;
      top: 10px;
      right: -30px;
      padding: 5px;
      cursor: pointer;

      .arrow {
        display: inline-block;
        position: relative;
        width: 100%;
        height: 100%;

        span:nth-child(1) {
          transform: rotate(0deg);
        }

        span:nth-child(2) {
          transform: rotate(0sdeg);
        }

        span:nth-child(4) {
          transform: rotate(-45deg);
        }

        span:nth-child(5) {
          transform: rotate(45deg);
        }

        span {
          position: absolute;
          height: 0.1rem;
          background-color: #efefef;
          transition: transform 0.4s ease;
        }

        span:nth-child(1),
        span:nth-child(2),
        span:nth-child(4),
        span:nth-child(5) {
          width: 0.625rem;
          top: 0.625rem;
        }

        span:nth-child(1) {
          right: 0;
          transform-origin: bottom right;
        }

        span:nth-child(2) {
          right: 0;
          transform-origin: top right;
        }

        span:nth-child(3) {
          width: 1.25rem;
          top: 0.625rem;
        }

        span:nth-child(4) {
          left: 0;
          transform-origin: bottom left;
        }

        span:nth-child(5) {
          left: 0;
          transform-origin: top left;
        }
      }
    }

    .history {
      height: 100%;
      width: 100%;
      background-color: #000;
      opacity: 0.85;
      display: grid;
      align-content: end;
      padding: 10px;
      overflow-y: auto;

      .history-item {
        text-align: right;
        font-size: 3vh;
        margin-top: 2vh;
        padding: 2px 6px;
        color: #fff;
        transition: all 0.3s linear;

        &:hover {
          color: #ccc;
          background-color: #333;
          cursor: pointer;
        }
      }
    }
  }

  .display-wrapper {
    grid-column-start: span 4;
    height: 100%;
    overflow-y: auto;
    background-color: lightslategray;

    .input {
      height: 65%;
      width: 100%;
      text-align: center;
      padding: 10px auto;
      font-size: 8vh;
      display: grid;
      align-content: center;
      box-shadow: inset 0px 0px 50px #333;
    }

    .result {
      height: 35%;
      width: 100%;
      text-align: right;
      padding: 4px;
      font-size: 3.5vh;
      background-color: darkgray;
      box-shadow: inset 0px 0px 40px #777;
      display: grid;
      align-content: center;
    }
  }

  .special {
    grid-column-start: span 4;

    .options {
      height: 100%;
      display: grid;
      grid-template-columns: repeat(4, 25%);
      align-items: stretch;

      .button {
        background-color: green;
        align-self: stretch;
        box-shadow: inset 0px 0px 40px darkgreen;
      }
    }
  }

  .numbers {
    grid-column-start: span 3;

    .options {
      display: grid;
      grid-template-columns: repeat(6, calc(100% / 6));
      height: 100%;

      .button {
        grid-column-start: span 2;

        &:nth-child(10),
        &:nth-child(11) {
          grid-column-start: span 3;
        }
      }
    }
  }

  .calc {
    .options {
      display: grid;
      height: 100%;

      .button {
        background-color: orange;
        box-shadow: inset 0px 0px 40px darkorange;
      }
    }
  }
}

@media (orientation: portrait) {
  .App {
    max-height: 100vw;
  }
}

@media (orientation: portrait) and (max-aspect-ratio: 7/10) {
  .App {
    max-height: 125vw;
    min-height: 50vh;
  }
}

@media (orientation: landscape) {
  .App {
    max-height: 90vh;
  }
}

@media (max-width: 400px) and (orientation: portrait) {
  .button {
    font-size: 3vh;
  }

  .App {
    border: 18px solid #444;

    .display-wrapper {
      .input {
        font-size: 5vh;
      }

      .result {
        font-size: 2.5vh;
      }
    }

    .numbers {
      grid-column-start: span 4;
      order: 1;
    }

    .calc {
      grid-column-start: span 4;

      .options {
        grid-template-columns: repeat(4, 25%);
      }
    }
  }
}
